-#  This file is app/views/questions/index.html.haml
%h2 All Categories
- @all_categories.each do |category|
    = link_to "Questions on #{category}", questions_id_path(:category =>category, :id =>category)

      
